<h1>Heroes<small> Marvell y DC</small></h1>
<hr>
<div class="card-columns">
  <div class="card animate fadein" *ngFor="let heroe of heroes; let i = index">
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-block">
      <h4 class="card-title">{{heroe.nombre}}</h4>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
    </div>
    <button type="button" name="button" (click)="verHeroe(i)" class="btn btn-outline-primary block">Ver</button>
    <!--<a [routerLink]="['/heroe',i]" class="btn btn-outline-primary block">Ver Mas</a>-->
  </div>

</div>
