<h1>{{heroe.nombre  | uppercase}}<small> {{heroe.aparicion | date:'y'}}</small></h1>
<hr>

<div class="row animated fadeIn">
  <div class="col-md-4 center-block">

    <img [src]="heroe.img" [alt]="heroe.nombre">
    <br><br>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger  btn-block">BACK</a>
  </div>

  <div class="col-md-8">
    <h3>Biografia:</h3>
    <hr>
    <p>{{heroe.bio}}</p>
    <div>
      <img class="img-logo" *ngIf="heroe.casa == 'DC'" src="assets/image/logo-dc.png" alt="DC">
      <img class="img-logo" *ngIf="heroe.casa == 'Marvel'" src="assets/image/logo-marvel.jpg" alt="MARVEL">
    </div>
  </div>
</div>
